{% extends 'base.html' %}
{% load static %}

{% block title %}
Passwords
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static "user_side/css/app.css" %}">
{% endblock links %}

{% block content %}
    {% include 'user_side/includes/navbar.html' %}
    <main class="container mx-auto relative">
        {% include 'user_side/includes/sidebar.html' %}
        <div id="main-body" class='py-10 md:px-5 relative flex justify-between'>
            <div class="w-1/2">
                <h1 class="text-3xl font-medium text-blue-600">Password Manger</h1>
                <div class="my-5">
                    <h3 class="text-2xl text-gray-600 my-3">Username: <span class="text-gray-900 font-bold ml-5">{{password.username}}</span></h3>
                    <h3 class="text-2xl text-gray-600 my-3">Password: <span class="text-gray-900 font-bold ml-5">{{password.password}}</span></h3>
                </div>
            </div>
            <div class="password-list-container md:p-5">
                <h1 class="text-2xl font-medium text-blue-600">List</h1>
                <ul class='my-3'>
                    {% if passwords|length == 0%}
                        <p class='text-gray-500'>No Saved Passwords</p>
                    {% endif %}
                    {% for password in passwords %}
                        <li class='flex p-5 my-5 bg-gray-200 justify-between'>
                            <span>{{password.username}}</span>
                            <span class="icons flex">
                                <a class="preview-link" href="{% url 'user-password-preview' password.id %}">
                                    <img src="{% static 'user_side/images/eye.png' %}" alt="Preview">
                                </a>
                                 <a class="edit-link" href="{% url 'user-password-edit' password.id %}">
                                   <img src="{% static 'user_side/images/edit.png' %}" alt="Edit">
                                </a>
                                <a class="delete-link" href="{% url 'user-password-delete' password.id %}">
                                    <img src="{% static 'user_side/images/trash.png' %}" alt="Trash">
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}